<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo sensor:</strong>
  <%= @tipo_sensor.tipo_sensor %>
</p>

<%= link_to 'Edit', edit_tipo_sensor_path(@tipo_sensor) %> |
<%= link_to 'Back', tipo_sensors_path %>
